*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.flex-container{
    justify-content:center;
    display:flex;
    background-color:#f4f4f4;
    align-items: center;
    height:400px;
}
.item{
    height:100px;
    width:100px;
    margin:10px;
    color:#fff;
    background-color: blue;
}
.item:nth-of-type(1)
{
    align-self: flex-start;
}
.item:nth-of-type(2)
{
    align-self: center;
}
.item:nth-of-type(3)
{
    align-self: end;
    
}