*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.flex-container{
    justify-content:center;
    display:flex;
    background-color:#f4f4f4;
    align-items: center;
    height:400px;
    flex-direction:column;
    flex-wrap: wrap;
}
.item{
    height:100px;
    width:100px;
    margin:10px;
    color:#fff;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}




.item:nth-of-type(1)
{
    order:3;
}
.item:nth-of-type(2)
{
   order:1;
}
.item:nth-of-type(3)
{
   order:2;


}